--tabs="8"
--italic-text="always"
--theme={{ .theme.colorTheme | quote }}
--style="changes"

--map-syntax="*.conf:INI"
--map-syntax=".*ignore:Git Ignore"
--map-syntax="*.zsh:Bourne Again Shell (bash)"
