{{- $osId := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isPersonal := promptBoolOnce . "isPersonal" "Personal computer" -}}
{{- $canAccessWorkspace := promptBoolOnce . "canAccessWorkspace" "Workspace access" -}}

{{- $useDarkMode := promptBool "Dark mode" -}}
{{- $themes := $useDarkMode | ternary (list "rose-pine") (list "rose-pine-dawn") -}}
{{- $colorTheme := promptChoice "Color theme" $themes -}}


[data]
osId = {{ $osId | quote }}
isPersonal = {{ $isPersonal }}
canAccessWorkspace = {{ $canAccessWorkspace }}

[data.theme]
useDarkMode = {{ $useDarkMode }}
colorTheme = {{ $colorTheme | quote }}

{{ "" }}

{{- if $isPersonal -}}
[data.git.personal]
name = "Tho Nguyen"
username = "naiwaaa"
email = "contact@naiwaaa.simplelogin.com"
{{- end -}}

{{ "" }}

{{ if $canAccessWorkspace -}}
[data.git.work]
name = {{ promptStringOnce . "git.work.name" "Workspace Git name" | quote }}
username = {{ promptStringOnce . "git.work.username" "Workspace Git username" | quote }}
email = {{ promptStringOnce . "git.work.email" "Workspace Git email" | quote }}
{{- end -}}
