{{- $osId := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "idLike") -}}
{{-   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}

data:
  osId: {{ $osId | quote }}

  email: {{ $email | quote }}
