# vim: ft=sshconfig

HashKnownHosts yes

Host *
  AddKeysToAgent yes
  ConnectTimeout 10
  ForwardAgent no
  IdentitiesOnly yes
  PreferredAuthentications publickey
  ServerAliveInterval 30

Include ./ssh_config.d/*

{{ "" }}

{{- if .isPersonal -}}
Host git.sr.ht
  HostName git.sr.ht
  IdentityFile ~/.ssh/ssh_keys/personal_id_sr

Host github.com
  HostName github.com
  IdentityFile ~/.ssh/ssh_keys/personal_id_gh
{{- end -}}
