#!/usr/bin/bash

gsettings set org.gnome.desktop.interface gtk-theme {{ .theme.useDarkMode | ternary "Arc-Dark" "Arc-Lighter" }}
gsettings set org.gnome.desktop.interface icon-theme candy-icons
gsettings set org.gnome.desktop.interface cursor-theme Bibata-Modern-Ice
