#!/usr/bin/bash

{{-
  $packages := list
    "calibre"
    "firefox-developer-edition"
    "google-chrome"
    "obsidian"
    "pcloud-drive"
    "swappy"
    "vlc"
    "wps-office"
-}}

{{ "" }}

paru -Sy --noconfirm --needed {{ $packages | join " " }}
