#!/usr/bin/bash

{{-
  $packages := list
    "brightnessctl"
    "cpio"
    "dunst"
    "fcitx5-bamboo"
    "fcitx5-im"
    "gnome-keyring"
    "grim"
    "hyprcursor-git"
    "hypridle-git"
    "hyprland-git"
    "hyprlang-git"
    "hyprlock-git"
    "hyprwayland-scanner-git"
    "kitty"
    "libsecret"
    "polkit-gnome"
    "qt5-wayland"
    "qt6-wayland"
    "rofi-wayland"
    "seahorse"
    "slurp"
    "swaybg"
    "trash-cli"
    "udiskie"
    "upower"
    "xdg-desktop-portal-gtk"
    "xdg-desktop-portal-hyprland-git"
    "xdg-user-dirs"
-}}

{{ "" }}

paru -Sy --noconfirm --needed {{ $packages | join " " }}
