#!/usr/bin/bash

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{-   $sudo = "" -}}
{{- end -}}

{{ "" }}

# perform full system upgrade
{{ $sudo -}} pacman -Syu --noconfirm

# install prerequisites
{{ $sudo -}} pacman -Sy --noconfirm --needed base-devel curl git wget

# install paru
paru_dir="$HOME/paru-bin"
git clone https://aur.archlinux.org/paru-bin.git "$paru_dir"
cd "$paru_dir" || exit
makepkg -si --noconfirm
rm -rf "$paru_dir"
