#!/usr/bin/bash

{{-
  $packages := list
    "aria2"
    "bat"
    "btop"
    "fd"
    "fzf"
    "git"
    "nvitop"
    "ripgrep"
    "rsync"
    "starship"
    "tealdeer"
    "unarchiver"
    "yazi"
    "zoxide"
    "zsh"
-}}

{{ "" }}

paru -S {{ $packages | join " " }}

bat cache --build
