#!/usr/bin/bash

{{-
  $packages := list
    "aria2"
    "bat"
    "btop"
    "fd"
    "fzf"
    "jq"
    "nvitop"
    "poppler"
    "ripgrep"
    "rsync"
    "starship"
    "tealdeer"
    "unarchiver"
    "yazi"
    "zoxide"
    "zsh"
-}}

{{ "" }}

paru -Sy --noconfirm --needed {{ $packages | join " " }}
