#!/usr/bin/bash

{{-
  $packages := list
    "helix"
    "hugo"
    "jetbrains-toolbox"
    "mise-bin"
    "neovim-nightly-bin"
-}}

{{ "" }}

paru -Sy --noconfirm --needed {{ $packages | join " " }}
