#!/usr/bin/bash

{{-
  $packages := list
    "pavucontrol"
    "pipewire"
    "playerctl"
    "wireplumber"
    "pipewire-alsa"
    "pipewire-audio"
    "pipewire-pulse"
-}}

{{ "" }}

paru -Sy --needed {{ $packages | join " " }}
