# vim: ft=conf

# -----
# Fonts
# -----

font_family                 JetBrainsMono NF
bold_font                   auto
italic_font                 auto
bold_italic_font            auto
font_size                   9.0
box_drawing_scale           0.001, 1, 1.5, 2
adjust_line_height          120%

# --------------------
# Cursor customization
# --------------------

cursor_shape                block
cursor_blink_interval       -1

# ----------
# Scrollback
# ----------

scrollback_lines            10000

# -----
# Mouse
# -----

mouse_hide_wait             -1
url_style                   single
copy_on_select              clipboard
strip_trailing_spaces       smart
focus_follows_mouse         yes

# -------------
# Terminal bell
# -------------

enable_audio_bell           no

# -------------
# Window layout
# -------------

window_padding_width        4 10
enabled_layouts             splits
confirm_os_window_close     0

# -------
# Tab bar
# -------

tab_bar_margin_height       4 0.0
tab_bar_style               fade
tab_fade                    1
tab_bar_align               center

# ------------
# Color scheme
# ------------

include ./themes/{{- .theme.colorTheme -}}.conf

# --------
# Advanced
# --------

update_check_interval       0
shell_integration           no-cursor
term                        xterm-kitty

# ------------------
# Keyboard shortcuts
# ------------------

clear_all_shortcuts         yes
kitty_mod                   ctrl+shift

# clipboard
map ctrl+shift+c            copy_to_clipboard
map ctrl+shift+v            paste_from_clipboard
map ctrl+shift+s            paste_from_selection

# scrolling
map ctrl+shift+k            scroll_line_up
map ctrl+shift+j            scroll_line_down
map ctrl+shift+page_up      scroll_page_up
map ctrl+shift+page_down    scroll_page_down
map ctrl+shift+home         scroll_home
map ctrl+shift+end          scroll_end
map ctrl+shift+z            scroll_to_prompt -1
map ctrl+shift+x            scroll_to_prompt 1
map ctrl+shift+h            show_scrollback
map ctrl+shift+g            show_last_command_output

# window management
map ctrl+shift+enter        launch --cwd=current --location=split
map ctrl+shift+-            launch --cwd=current --location=hsplit
map ctrl+shift+\            launch --cwd=current --location=vsplit
map ctrl+shift+w            close_window
map ctrl+shift+]            next_window
map ctrl+shift+[            previous_window
map ctrl+shift+r            start_resizing_window
map ctrl+shift+f7           focus_visible_window
map ctrl+shift+f8           swap_with_window

map ctrl+h                  neighboring_window left
map ctrl+l                  neighboring_window right
map ctrl+k                  neighboring_window up
map ctrl+j                  neighboring_window down

# tab management
map ctrl+tab                next_tab
map ctrl+shift+tab          previous_tab
map ctrl+shift+t            new_tab
map ctrl+shift+q            close_tab
map ctrl+shift+alt+t        set_tab_title

# miscellaneous
map ctrl+shift+f5           load_config_file
