#!/usr/bin/bash

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{-   $sudo = "" -}}
{{- end }}

{{ "" }}

{{ if eq .osId "linux-arch" -}}

{{ $sudo -}} pacman -S fzf ripgrep fd

{{- else -}}

{{ $sudo -}} apt install fzf ripgrep fd-find

{{- end -}}
