# vim: ft=gitconfig

[core]
  autocrlf         = input
  safecrlf         = true
  compression      = 9
  editor           = nvim

[alias]
  # list things
  tags             = tag -l
  branches         = branch -av
  remotes          = remote -v
  recent           = ! git branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\" | head -10

  # shorten common commands
  s                = status
  ci               = commit
  cim              = commit -m
  cie              = commit --allow-empty
  co               = checkout
  d                = diff
  dc               = diff --cached

  # log
  l                = log --graph --pretty=format:'%C(yellow)%h%C(reset) - %C(auto)%d%C(reset) %s %C(green)(%ar)%C(reset) %C(dim blue)<%an - %ae>%C(reset)'
  ls               = log --oneline --decorate --graph --stat
  lv               = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n%C(cyan)%s%n%Creset'

  oops             = commit --amend --no-edit

[branch]
  sort             = -committerdate

[color]
  ui               = true

[color "branch"]
  current          = white reverse
  local            = white
  remote           = yellow
  upstream         = cyan

[color "diff"]
  meta             = magenta
  frag             = magenta bold
  old              = red bold
  new              = green bold
  colorMoved       = default
  colorMovedWS     = allow-indentation-change

[color "status"]
  added            = green
  changed          = yellow
  untracked        = red

[commit]
  template         = ~/.config/git/commit_message
  verbose          = true

[diff]
  mnemonicPrefix   = true
  renames          = copies
  algorithm        = histogram
  tool             = nvimdiff
  guitool          = nvimdiff

[difftool]
  prompt           = false

[fetch]
  prune            = true
  pruneTags        = true

[init]
  defaultBranch    = main

[log]
  abbrevCommit     = true
  date             = iso-local
  decorate         = auto

[merge]
  conflictStyle    = zdiff3
  ff               = false
  log              = true
  tool             = nvimdiff
  guitool          = nvimdiff

[mergetool]
  keepBackup       = false
  keepTemporaries  = false
  prompt           = false

[pull]
  ff               = only

[push]
  autoSetupRemote  = true
  followTags       = true

[rebase]
  autoSquash       = true
  autoStash        = true

[rerere]
  enabled          = true

[status]
  submoduleSummary = true

{{ "" }}

{{- if .isPersonal -}}
[url "git@git.sr.ht:~{{ .git.personal.username }}/"]
  insteadOf        = https://git.sr.ht/~{{ .git.personal.username }}/

[url "git@github.com:{{ .git.personal.username }}/"]
  insteadOf        = https://github.com/{{ .git.personal.username }}/

[includeIf "gitdir:~/Projects/"]
  path             = git_config.d/personal
{{- end -}}

{{- if .canAccessWorkspace -}}
[includeIf "gitdir:~/Workspace/"]
  path             = git_config.d/work
{{- end -}}
